*{

  
    font-family: 'english';
}
@font-face{
src: url(font/saira/static/Saira-Medium.ttf);
font-family: 'english';
font-style: normal;
 /* استایل مربوط به بخش رزومه کار ها */
}
  .content{
    transition: all 0.4s ease;
  }

  .tab-active {
    background:linear-gradient(to right,rgb(80, 2, 136),rgb(125, 77, 167));
    
  } 
/* -------------------------------------------------------------------------------------------------- */


.input{
 
  all: unset;
  background-color: black;
  border: 1px solid rgb(82, 82, 82);
  color:  rgb(82, 82, 82);
padding: 8px;
border-radius: 5px;
}
.input-1{
  all: unset;
  width: 450px !important;
  height: 200px !important;
  background-color: black;
  border: 1px solid rgb(82, 82, 82);
  color:  rgb(82, 82, 82);
padding: 8px;
border-radius: 5px;
}
.input-1:focus{
  border: 1px solid rgb(54, 0, 59);

}
.input:focus{
  border: 1px solid rgb(54, 0, 59);

}
